html{
	font-family: Consolas;
	padding: 5%;
}

h1{
	font-size: 200px;
}

#intro_para{
	margin-right: 50%;
}

#nav_bar{
	text-align: center;
	font-size: 25px;
	color: white; 
	margin-top: -5%;
	margin-bottom: -5%;
}

#marco_head{
  	padding-right: 5%;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }

li {
	display: inline;
}

a{
	color: grey;
}

a:visited{
	color: inherit; 
}

#logo{
	margin-top: -35%;
	float: left;
	border: solid;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid red;
}